
*.ser

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/5.4.1/fileHashes/fileHashes.lock

.gradle/5.4.1/fileHashes/fileHashes.bin

.gradle/5.4.1/executionHistory/executionHistory.lock

.idea/workspace.xml

local.properties

.gradle/5.4.1/executionHistory/executionHistory.bin

.idea/

*.bin

*.properties

*.iml

.gradle/5.4.1/javaCompile/

.gradle/5.4.1/executionHistory/

.gradle/5.4.1/fileHashes/

.gradle/buildOutputCleanup/

build/intermediates/lint-cache/maven.google/androidx/test/espresso/

build/intermediates/lint-cache/maven.google/androidx/preference/

build/intermediates/lint-cache/maven.google/androidx/appcompat/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/constraintlayout/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/core/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/gridlayout/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/recyclerview/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/legacy/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/lifecycle/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/navigation/group-index.xml

build/intermediates/lint-cache/maven.google/androidx/test/ext/group-index.xml

build/intermediates/lint-cache/maven.google/com/android/support/constraint/group-index.xml

build/intermediates/lint-cache/maven.google/com/google/android/gms/group-index.xml

build/intermediates/lint-cache/maven.google/com/google/android/material/group-index.xml

build/intermediates/lint-cache/maven.google/master-index.xml

build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
